.homeNav{
    background-color:black !important ;

}
.navbarBrand{
    
    display: none;
    font-size: 40px !important;

}
.navbarBrand_home , .navbarBrand_product, .navbarBrand_order{
padding-left:7% !important; 
color:white !important;
font-size: 17px;

}
.input{
    /* margin-right: 3%; */
    widows: 40px !important; 
    
    margin-left: 5%;
    /* height: */
}
.input_formcontrol{
    height:46px !important;
}
.navbarBrandStore{
    color:red;
}
.navbarBrandNeo{
    color:white;
}

.cartButton{
    background-color: white !important;
    width:250px !important;
    height:46px;
}
.userDropdown{
    background-color: white !important; 
}
#userDropdown_toggle{
    background-color: white !important; 
}
.forUser{
    background-color: white !important;
    width:200px;
}
